# Gitleaks configuration
# https://github.com/gitleaks/gitleaks

title = "cm-labs gitleaks config"

[extend]
useDefault = true

[allowlist]
description = "Global allowlist"
paths = [
  '''node_modules''',
  '''dist''',
  '''build''',
  '''\.lock$''',
  '''package-lock\.json$''',
  '''bun\.lock$''',
]
